# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: public.ecr.aws/fsx-csi-driver/aws-fsx-csi-driver
  tag: v1.2.0
  pullPolicy: IfNotPresent

csidriver:
  fsGroupPolicy: ReadWriteOnceWithFSType

sidecars:
  livenessProbe:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/livenessprobe
      tag: v2.12.0-eks-1-29-5
      pullPolicy: IfNotPresent
    resources: {}
  nodeDriverRegistrar:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/node-driver-registrar
      tag: v2.10.0-eks-1-29-5
      pullPolicy: IfNotPresent
    logLevel: 2
    resources: {}
  provisioner:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/external-provisioner
      tag: v4.0.0-eks-1-29-5
      pullPolicy: IfNotPresent
    logLevel: 2
    resources: {}
  resizer:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/external-resizer
      tag: v1.10.0-eks-1-29-5
      pullPolicy: IfNotPresent
    logLevel: 2
    resources: {}

controller:
  mode: controller
  loggingFormat: text
  nodeSelector: {}
  replicaCount: 2
  resources: {}
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    ## Enable if EKS IAM for SA is used
    #  eks.amazonaws.com/role-arn: arn:aws:iam::111122223333:role/fsx-csi-role
    name: fsx-csi-controller-sa
    annotations: {}
  logLevel: 2
  podAnnotations: {}
  # AWS region to use. If not specified then the region will be looked up via the AWS EC2 metadata
  # service.
  # ---
  # region: us-east-1
  region:
  tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
    - effect: NoExecute
      operator: Exists
      tolerationSeconds: 300

node:
  mode: node
  loggingFormat: text
  logLevel: 2
  nodeSelector: {}
  resources: {}
  dnsPolicy: ClusterFirst
  dnsConfig:
    {}
    # Example config which uses the AWS nameservers
    # dnsPolicy: "None"
    # dnsConfig:
    #   nameservers:
    #     - 169.254.169.253
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    ## Enable if EKS IAM for SA is used
    #  eks.amazonaws.com/role-arn: arn:aws:iam::111122223333:role/fsx-csi-role
    name: fsx-csi-node-sa
    annotations: {}
  podAnnotations: {}
  tolerateAllTaints: true
  tolerations:
    - operator: Exists
      effect: NoExecute
      tolerationSeconds: 300

nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []
