# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: public.ecr.aws/fsx-csi-driver/aws-fsx-csi-driver
  tag: "v1.7.0"
  pullPolicy: IfNotPresent

csidriver:
  fsGroupPolicy: ReadWriteOnceWithFSType

sidecars:
  livenessProbe:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/livenessprobe
      tag: v2.15.0-eks-1-33-9
      pullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 128Mi
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
  nodeDriverRegistrar:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/node-driver-registrar
      tag: v2.13.0-eks-1-33-9
      pullPolicy: IfNotPresent
    logLevel: 2
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 128Mi
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
  provisioner:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/external-provisioner
      tag: v5.2.0-eks-1-33-9
      pullPolicy: IfNotPresent
    logLevel: 2
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 128Mi
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
  resizer:
    image:
      repository: public.ecr.aws/eks-distro/kubernetes-csi/external-resizer
      tag: v1.13.2-eks-1-33-9
      pullPolicy: IfNotPresent
    logLevel: 2
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 128Mi
    securityContext:
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false

controller:
  mode: controller
  loggingFormat: text
  nodeSelector: {}
  replicaCount: 2
  #If you do want to specify resources, uncomment the following lines, adjust them as necessary
  resources:
    requests:
      cpu: 10m
      memory: 40Mi
    limits:
      memory: 256Mi
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    ## Enable if EKS IAM for SA is used
    #  eks.amazonaws.com/role-arn: arn:aws:iam::111122223333:role/fsx-csi-role
    name: fsx-csi-controller-sa
    annotations: {}
  logLevel: 2
  podAnnotations: {}
  # AWS region to use. If not specified then the region will be looked up via the AWS EC2 metadata
  # service.
  # ---
  # region: us-east-1
  region:
  tolerations:
    - key: CriticalAddonsOnly
      operator: Exists
    - effect: NoExecute
      operator: Exists
      tolerationSeconds: 300
  # Specify the timeout of all calls to the CSI driver.
  timeout: 5m
  # securityContext on the controller pod
  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
  # securityContext on the controller container
  # Setting privileged=false will cause the "delete-access-point-root-dir" controller option to fail
  containerSecurityContext:
    privileged: true
  leaderElectionRenewDeadline: 10s
  leaderElectionLeaseDuration: 15s
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: eks.amazonaws.com/compute-type
                operator: NotIn
                values:
                  - fargate
  podLabels: {}
  # topologySpreadConstraints:
  #  - maxSkew: 1
  #    topologyKey: topology.kubernetes.io/zone
  #    whenUnsatisfiable: ScheduleAnyway
  #  - maxSkew: 1
  #    topologyKey: kubernetes.io/hostname
  #    whenUnsatisfiable: ScheduleAnyway
  topologySpreadConstraints: []
  podDisruptionBudget:
    # Warning: Disabling PodDisruptionBudget may lead to delays in stateful workloads starting due to controller
    # pod restarts or evictions.
    enabled: true
  # Extra tags to attach to each dynamically provisioned file system.
  # ---
  # extraTags:
  #   key1: value1
  #   key2: value2
  extraTags: {}

node:
  mode: node
  loggingFormat: text
  logLevel: 2
  nodeSelector: {}
  updateStrategy: {}
  #If you do want to specify resources, uncomment the following lines, adjust them as necessary,
  resources:
    requests:
      cpu: 10m
      memory: 40Mi
    limits:
      memory: 256Mi
  dnsPolicy: ClusterFirst
  dnsConfig:
    {}
    # Example config which uses the AWS nameservers
    # dnsPolicy: "None"
    # dnsConfig:
    #   nameservers:
    #     - 169.254.169.253
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    ## Enable if EKS IAM for SA is used
    #  eks.amazonaws.com/role-arn: arn:aws:iam::111122223333:role/fsx-csi-role
    name: fsx-csi-node-sa
    annotations: {}
  healthPort: 9809
  # securityContext on the node pod
  securityContext:
    # The node pod must be run as root to bind to the registration/driver sockets
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
  env: []
  volumes: []
  volumeMounts: []
  podAnnotations: {}
  tolerateAllTaints: true
  tolerations:
    - operator: Exists
      effect: NoExecute
      tolerationSeconds: 300
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: eks.amazonaws.com/compute-type
            operator: NotIn
            values:
            - fargate
  podLabels: {}

nameOverride: ""
fullnameOverride: ""

imagePullSecrets: []

nodeComponentOnly: false
# nodeComponentOnly: true
  # Only deploys the node DaemonSet, Skips controller deployment
# nodeComponentOnly: false (default)
  # Deploys both controller and node components, normal full deployment
